[submodule ".registry"]
	path = .registry
	url = https://github.com/ebenogoe/ebenogoe.r-universe.dev
	branch = HEAD
[submodule "FounderForge"]
	path = FounderForge
	url = https://github.com/ebenogoe/FounderForge
[submodule "ggwizard"]
	path = ggwizard
	url = https://github.com/ebenogoe/ggwizard
	branch = main
[submodule "linkmapper"]
	path = linkmapper
	url = https://github.com/ebenogoe/linkmapper
	branch = main
[submodule "qrlabelr"]
	path = qrlabelr
	url = https://github.com/awkena/qrlabelr
