[submodule ".registry"]
	path = .registry
	url = https://github.com/ebenogoe/ebenogoe.r-universe.dev
	branch = HEAD
[submodule "FounderForge"]
	path = FounderForge
	url = https://github.com/ebenogoe/FounderForge
